# Build output
bin/
obj/
publish/

# Visual Studio
.vs/
*.user
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
packages/
*.nupkg

# Logs / temp
*.log
*.tmp
*.temp

# Test
TestResults/

# Dotnet
*.runtimeconfig.json
*.deps.json

# OS
Thumbs.db
.DS_Store
